.navbar
{
    z-index: 999;
    background-color: #232122;
    width: 100%;
    height: 60px;
    float: left;
    margin-left: -8px;
    margin-top: -8px;
    position: fixed;
}
.navbaru
{
    width: 465px;
    list-style-type: none;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    line-height: 20px;
    position: relative;
    margin: 0;
    margin-top: -60px;
    margin-left: 242px;
}
.navbaru li
{
    display: inline-block;
    width: 150px;
    height: 60px;
    margin-left: -6px;
}
.navbarn
{
    z-index: 1000;
    width: 175px;
    list-style-type: none;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    line-height: 20px;
    position: relative;
    margin: 0; 
    padding: 0;
    margin-top: -60px;
}
.selected
{
    font-size: 20px;
    background-color: rgba(25, 23, 23, 0.95);
    width: 175px;
    height: 59px;
    font-family: Arial;
    text-align: center;
    line-height: 20px;
    position: relative;
    margin-left: 110px;
    margin-top: -62px;
}
.icon
{
    width: 55px;
    height: 55px;
    position: relative;
    margin-left: 40px;
    margin-top: 2px;
}
.nlink
{
    height: 20px;
    padding: 20px;
    text-decoration: none;
    color: #b1bac2;
    display: block;

}
.nlink:hover
{
    color: #d7e2eb;
}
.body
{
    padding-top: 80px;
    padding-bottom: 10px;
}
.main
{
    float: left;
    word-break: break-all;
    z-index: 1;
    position: relative;
    min-height: 770px;
    width: 65%;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sideb
{
    position: relative;
    float: right; 
    width: 26%;
    height: 180px;
}
.side
{
    word-break: break-all;
    z-index: 1000;
    margin-top: 80px;
    position: fixed;
    background-color: #F0F0E7;
    border-radius: 5px;
    width: 22%;
    height: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@-moz-document url-prefix()
{
    .main
    {
        word-break: break-all;
        z-index: 1;
        position: relative;
        min-height: 550px;
        width: 65%;
        margin-left: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .side
    {
        word-break: break-all;
        z-index: 1000;
        position: fixed;
        margin-top: 80px;
        background-color: #F0F0E7;
        border-radius: 5px;
        width: 22%;
        height: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: -20px;
        padding-bottom: 0px;
    }
}